body { font-family: 'Poppins', sans-serif;}
*{ padding:0; margin:0; }
p{font-size:16px;line-height: 24px;}
#footer{ padding: 50px 0; text-align:center; }
#footer .footer-nav{ list-style: none; }

#footer .footer-nav ul { margin:0; padding:0; }
#footer .footer-nav ul li{ display: inline; padding:0; }
#footer .footer-nav ul li a{ color: #333; font-size: 14px; text-decoration: none; padding:.5rem; }
#footer small{ font-size: 12px; }
#header {color: #333;cursor: default; height: 5em; left: 0; line-height: 5em; text-align: right; top: 0;width: 100%;}
#header .inner { max-width: 65em; width: calc(100% - 2em); margin: 0 auto; position: relative;}
.logo {color:#000;overflow: hidden;display: inline-block;position: absolute;left: 0;top: 50%;transform: translate(-0%, -50%);}
#header #nav a{color:#333333;padding: 0 .5rem; text-decoration:none;text-transform:uppercase;font-weight:700;font-size:.85em;}
#nav{display:inline-block; }
#banner{color:#f2a3a5;background-color:#0c0c0c;background-size:cover;background-repeat:no-repeat;background-position:15% left;text-align:left;position:relative;z-index:9999;color:#fff;}
#banner:after{-moz-transition:opacity 4s ease;-webkit-transition:opacity 4s ease;-ms-transition:opacity 4s ease;transition:opacity 4s ease;content:'';position:absolute;width:100%;height:100%;display:block;top:0;left:0;background-color:#0c0c0c;opacity:0.25;}
#banner .inner{width:100%;margin:0 auto;position:relative;z-index:10000;}
#banner h1{font-size:3rem;margin:1rem 0;letter-spacing:3px;font-weight:700;line-height: 4rem;padding: 0 1rem;}
#banner .btn{background-color:transparent;box-shadow:inset 0 0 0 2px #fff;color:#ffffff;display:inline-block;padding:0 1em 0 0;vertical-align:middle;padding:1rem 2rem;}
#content {padding: 1rem 0;}
#content .inner{padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;} 
#block-ampclassictheme-local-tasks.contextual-region{background-color: #ededed;color: #000;padding: 1rem;}
#block-ampclassictheme-local-tasks.contextual-region h2.visually-hidden{font-size: 18px;padding: 0 1rem;margin-bottom: .5rem;}
#block-ampclassictheme-local-tasks.contextual-region ul{ margin: 0; padding:0; list-style: none; }
#block-ampclassictheme-local-tasks.contextual-region ul li{display: inline;padding: 0 1rem;}
#block-ampclassictheme-local-tasks.contextual-region ul li a{text-decoration: none;color: #0071b3;}
#block-ampclassictheme-local-tasks.contextual-region ul li .visually-hidden{ display: none; }